* {
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 55vw;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.protocol-card {
  // max-width: 800px; /* Limita o tamanho do formulário */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.protocol-card .card-body {
  // max-height: 80vh; /* Limita a altura do formulário para caber melhor na tela */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Responsividade */
@media (max-width: 960px) {
  *{
    align-items: center;
    justify-content: center;
    width: 100%;
  } 
  .navbar{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .dashboard {
    min-width: 80vw;
  }

}
