$primary-color: #0a66c2; // Azul LinkedIn
$secondary-color: #ffffff; // Branco
$background-color: #f3f2ef; // Cinza claro de fundo

body {
  background-color: $background-color;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 360px;
  max-width: 100%;
  background-color: $secondary-color;
  text-align: left;
}

p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 1rem;
}

input {
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  background-color: #ffffff;
  color: #000;
  width: 100%;
  font-size: 1rem;

  &:focus {
    border-color: $primary-color;
    outline: none;
    box-shadow: 0 0 0 2px rgba(10, 102, 194, 0.2);
  }
}

input::placeholder {
  color: #8b8b8b;
}

.login-button {
  padding: 0.75rem;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  color: $secondary-color;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #084a9c;
  }
}

.forgot-password {
  text-align: center;
  margin-top: 1rem;

  a {
    color: $primary-color;
    font-size: 0.875rem;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.signup {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.875rem;

  a {
    color: $primary-color;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
