* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.navbar-buttons {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 255, 255, 0.2);
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.dashboard-content {
  margin-top: 80px; /* Espaçamento suficiente para que o conteúdo não fique atrás da navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  margin: auto;
}

@media (max-width: 768px) {
  .navbar-buttons {
      flex-wrap: wrap;
      gap: 8px;
      padding: 10px;
  }

  .container {
      width: 100%;
      padding: 10px;
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha o formulário ao topo */
  height: 100vh; /* Define a altura da visualização */
  padding-top: 20px; /* Ajusta a margem superior */
}

.protocol-form {
  width: 90%; /* Aumenta a largura do formulário */
  max-height: none; /* Remove a altura máxima */
  overflow-y: auto; /* Permite rolagem se ultrapassar a altura */
}

.protocol-form h5 {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}

.sac-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 90%; /* Aumenta a largura */
  margin: 0 auto; /* Centraliza o formulário */
  font-family: "Arial, sans-serif";
  font-size: 14px;
}